body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5e1c9; /* Adjust to match your theme */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-align:  center;
    color: #333; /* Adjust to your preference */
}

.form-container {
    background-color: #7a5248; /* Brownish background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
}
