.app-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Smooth transitions */
.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}


